{% extends "base.html" %}
{% block title %}About Leadership - Division 30 South{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename="css/about-leadership.css")}}"/>
{% endblock %}

{% block content %}
<div class="about-leadership-dlt Row">
  <div class="about-leadership-container1">
    <h1 class="about-leadership-text header">
      <span>Who leads</span>
      <span class="about-leadership-text02">Division 30</span>
      <span>South?</span>
      <br />
    </h1>
    <div class="about-leadership-container2">
      <span class="small-text about-leadership-text05">
        <span>
          The Division Leadership Team (DLT) orchestrates efforts
          amongst the
        </span>
        <span class="about-leadership-text07">
          13 schools in D30 South
        </span>
        <span>
          . Led and appointed by the lieutenant governor, Austin Alves,
          the
        </span>
        <span class="about-leadership-text09">2023-2024 DLT</span>
        <span>
          is bound to bring Division 30 South to new heights in caring
          for the world. On this page you will be introduced to
        </span>
        <span class="about-leadership-text11">all 20 members</span>
        <span>
          of the division leadership team, including the 13 presidents
          that help lead each club within the division!
        </span>
        <br />
        <br />
        <span class="about-leadership-text15">
          "A leader is one who knows the way, goes the way, and shows
          the way"
        </span>
        <br class="about-leadership-text16" />
        <span class="about-leadership-text17">- John Maxwell</span>
        <br />
      </span>
    </div>
  </div>
  <div class="about-leadership-gallery">
    <div
      class="cabinet-display-person cabinet-display-root-class-name3"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Lieutenant Governer</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Austin Alves</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>sexyman@gmail.com</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name1"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Executive Assistant</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Crystal Tran</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name17"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Executive Assistant</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Aditi Patel</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name16"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Executive Assistant</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Devin Le</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name15"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>New Editor</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Ray Hoang</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name14"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Service Projects</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Alvin Phan</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name13"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Service Projects</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Valerie Velazquez</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name12"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Fundraising</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Angela Tran</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name11"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Fundraising</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Sharanya Upadhyay</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name10"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Spirit</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Noah Bunleuth</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name9"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Spirit</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Tom Truong</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name8"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Spirit</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Sunny So</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name7"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Historian</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Nicholas Alvo</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="cabinet-display-person cabinet-display-root-class-name">
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Historian</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Nicholas Alvo</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name6"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Historian</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Noah Nguyen</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name2"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Historian</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Noah Nguyen</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name5"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Member Recognition</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Joanna Lee</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name18"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Tech Editor</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Gavin-kai Vida</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name4"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>Kiwanis Rel. chair</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Tina Namiranian</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="cabinet-display-person cabinet-display-root-class-name19"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>DCM coordinator</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>Jean Chiang</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                My name is a Austin Alves. I am hot and sexy. I will
                steal your wife. My future mission for key club is your
                mom
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>Email: {insert future email here}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}