{% extends "base.html" %}
{% block title %}About KeyClub - Division 30 South{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename="css/about-keyclub.css")}}"/>
{% endblock %}

{% block content %}
<div class="about-keyclub-hero">
  <h1 class="about-keyclub-text">Key club International</h1>
  <span class="about-keyclub-text001">
    Key Club members around the world are learning how to lead and stand
    for what’s right through service and volunteerism. In partnership
    with their local Kiwanis club, high school students are making a
    positive impact as they serve others in their schools and
    communities.
  </span>
</div>
<div class="about-keyclub-container01">
  <div class="about-keyclub-container02">
    <iframe
      src="https://www.youtube.com/embed/2AEH6NQCd7c"
      class="about-keyclub-iframe"
    ></iframe>
    <div class="about-keyclub-container03">
      <h1 class="about-keyclub-text002">
        <span>What is Key Club?</span>
        <br />
      </h1>
      <span class="small-text about-keyclub-text005">
        <span class="about-keyclub-text006">
          Key Club members around the world are learning how to
        </span>
        <span class="about-keyclub-text007">lead</span>
        <span class="about-keyclub-text008">
          and stand for what’s right through
        </span>
        <span class="about-keyclub-text009">service</span>
        <span class="about-keyclub-text010">and</span>
        <span class="about-keyclub-text011">volunteerism</span>
        <span class="about-keyclub-text012">
          . In partnership with their local
        </span>
        <span class="about-keyclub-text013">Kiwanis</span>
        <span class="about-keyclub-text014">
          club, high school students are making a positive impact as
          they serve others in their schools and
        </span>
        <span class="about-keyclub-text015">communities</span>
        <span class="about-keyclub-text016">.</span>
        <br class="about-keyclub-text017" />
        <br class="about-keyclub-text018" />
        <span class="about-keyclub-text019">
          "Key Club is an international, student-led organization that
          provides its members with opportunities to provide service,
          build character and develop leadership."
        </span>
        <span class="about-keyclub-text020">
          - Key Club International Mission Statement
        </span>
        <br />
      </span>
      <a
        href="https://www.keyclub.org/about/"
        target="_blank"
        rel="noreferrer noopener"
        class="about-keyclub-button button"
      >
        <span class="about-keyclub-text022">
          <span>Find Out More</span>
          <br />
        </span>
      </a>
    </div>
  </div>
  <div class="about-keyclub-container04">
    <h1 class="about-keyclub-text025 header">Key Club Hierarchy</h1>
    <span class="about-keyclub-text026 small-text">
      <span>Key club is an</span>
      <span class="about-keyclub-text028">international</span>
      <span>,</span>
      <span class="about-keyclub-text030">student-led</span>
      <span>organization, and thus, has a leadership</span>
      <span class="about-keyclub-text032">hierarchy</span>
      <span>
        that connects individual clubs to the international leading body
        of students, ensuring that Key-Clubbers across the world can
        work towards
      </span>
      <span class="about-keyclub-text034">unified goals</span>
      <span>and maintain</span>
      <span class="about-keyclub-text036">strong values</span>
      <span>, no matter where they are.&nbsp;</span>
      <br />
    </span>
    <div class="about-keyclub-establishment">
      <img
        alt="image"
        src="https://live.staticflickr.com/1424/5162983170_3f34c08ae8_z.jpg"
        class="about-keyclub-image"
      />
      <div class="about-keyclub-container05">
        <a
          href="https://whitneyhskeyclub.wixsite.com/keyclub"
          target="_blank"
          rel="noreferrer noopener"
          class="about-keyclub-link"
        >
          <h1 class="about-keyclub-text039 SubHeader">Club</h1>
        </a>
        <span class="about-keyclub-text040 small-text">
          <span class="about-keyclub-text041">
            Starting at the club level, club cabinets are the
          </span>
          <span class="about-keyclub-text042">frontline workers</span>
          <span class="about-keyclub-text043">
            of Key Club, directly organizing and publicizing events in
            their local area for students in their high school. Club
            cabinets keep
          </span>
          <span class="about-keyclub-text044">
            track of individual volunteering hours
          </span>
          <span class="about-keyclub-text045">
            , hold general meetings and volunteering events, and, in
            essence, serve as the
          </span>
          <span class="about-keyclub-text046">
            tip of the Key Club spear
          </span>
          <span class="about-keyclub-text047">.</span>
          <br />
        </span>
      </div>
    </div>
    <div class="about-keyclub-establishment1">
      <img
        alt="image"
        src="https://static.wixstatic.com/media/2ed07d_0bea9539178847d1896a29e887914f4e~mv2.jpg/v1/fill/w_384,h_494,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/DSC08661_JPG.jpg"
        class="about-keyclub-image1"
      />
      <div class="about-keyclub-container06">
        <a href="about-division.html" class="about-keyclub-navlink">
          <h1 class="about-keyclub-text049 SubHeader">
            Division (D30 South)
          </h1>
        </a>
        <span class="about-keyclub-text050 small-text">
          <span class="about-keyclub-text051">
            Next, Division cabinets oversee operations across
          </span>
          <span class="about-keyclub-text052">
            several individual clubs
          </span>
          <span class="about-keyclub-text053">
            . Division 30 South is a great example. We manage 13 clubs
            in the local Anaheim/Cerritos vicinity. The DLT (division
            leadership team) holds monthly
          </span>
          <span class="about-keyclub-text054">
            division volunteering and social events
          </span>
          <span class="about-keyclub-text055">
            , called DCMS, helps organize inter-club events, and help
            lead groups of clubs within a common location by
          </span>
          <span class="about-keyclub-text056">setting goals</span>
          <span class="about-keyclub-text057">and</span>
          <span class="about-keyclub-text058">recognizing members</span>
          <span class="about-keyclub-text059">
            . Essentially, the division unifies and leads a local group
            of clubs.
          </span>
          <br />
        </span>
      </div>
    </div>
    <div class="about-keyclub-establishment2">
      <img
        alt="image"
        src="https://upload.wikimedia.org/wikipedia/commons/8/80/Fall_Rally_South_2008.jpg"
        class="about-keyclub-image2"
      />
      <div class="about-keyclub-container07">
        <a
          href="https://www.cnhkeyclub.org/"
          target="_blank"
          rel="noreferrer noopener"
          class="about-keyclub-link1"
        >
          <h1 class="about-keyclub-text061 SubHeader">District</h1>
        </a>
        <span class="about-keyclub-text062 small-text">
          <span>Ahh, the district, the</span>
          <span class="about-keyclub-text064">vital bridge</span>
          <span>
            between Division and International. The district, as
            expected, leads a group of divisions. It sets goals, holds
            large,
          </span>
          <span class="about-keyclub-text066">
            cross-division social, volunteering, and leadership events
          </span>
          <span>such as Fall Rally South and District convention</span>
        </span>
      </div>
    </div>
    <div class="about-keyclub-establishment3">
      <img
        alt="image"
        src="https://resources.finalsite.net/images/v1572376804/d125org/t2nu0oqrfoxdpr3hvl5b/keyclub.png"
        class="about-keyclub-image3"
      />
      <div class="about-keyclub-container08">
        <a
          href="https://keyclub.org"
          target="_blank"
          rel="noreferrer noopener"
          class="about-keyclub-link2"
        >
          <h1 class="about-keyclub-text068 SubHeader">International</h1>
        </a>
        <span class="about-keyclub-text069 small-text">
          <span>
            At the international level, student-leadership sets the
          </span>
          <span class="about-keyclub-text071">direction</span>
          <span>of Key Club on a</span>
          <span class="about-keyclub-text073">long-term scale</span>
          <span>. This is where organization-wide goals are set,</span>
          <span class="about-keyclub-text075">
            mission-statements and values
          </span>
          <span>
            are defined, and international leadership events are
            organized. Key Club is constantly
          </span>
          <span class="about-keyclub-text077">growing</span>
          <span>
            , and the International cabinet is a big part of
            that.&nbsp;&nbsp;
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="about-keyclub-container09">
    <div class="about-keyclub-container10">
      <h1 class="about-keyclub-heading">
        <span>Key club Principles</span>
        <br />
      </h1>
    </div>
    <h1 class="about-keyclub-text081 SubHeader">
      <span>Core Values</span>
      <br />
    </h1>
    <span class="about-keyclub-text084 small-text">
      <span class="about-keyclub-text085">Leadership</span>
      <span class="about-keyclub-text086">
        » Leadership is grounded in humility and service to others. A
        true leader listens, recognizes, and empowers.
      </span>
      <br class="about-keyclub-text087" />
      <br class="about-keyclub-text088" />
      <span class="about-keyclub-text089">Character building</span>
      <span class="about-keyclub-text090">
        » Character is built by everyday acts of kindness, integrity and
        teamwork to grow stronger relationships and communities.
      </span>
      <br class="about-keyclub-text091" />
      <br class="about-keyclub-text092" />
      <span class="about-keyclub-text093">Caring</span>
      <span class="about-keyclub-text094">
        » Compassion for others is a cornerstone of the Key Club
        experience, inspiring action and service to one’s community.
      </span>
      <br class="about-keyclub-text095" />
      <br class="about-keyclub-text096" />
      <span class="about-keyclub-text097">Inclusiveness</span>
      <span class="about-keyclub-text098">
        » We welcome people of all backgrounds and ethnicities to join
        in serving and making a positive difference in our world.
      </span>
      <br />
    </span>
    <a href="about-division.html" class="about-keyclub-navlink1">
      <h1 class="about-keyclub-text100 SubHeader">
        <span>Pledge</span>
        <br />
      </h1>
    </a>
    <span class="about-keyclub-text103 small-text">
      <span class="about-keyclub-text104">"I pledge, on my honor,</span>
      <br class="about-keyclub-text105" />
      <span class="about-keyclub-text106">
        to uphold the Objects of Key Club International;
      </span>
      <br class="about-keyclub-text107" />
      <span class="about-keyclub-text108">
        to build my home, school and community;
      </span>
      <br class="about-keyclub-text109" />
      <span class="about-keyclub-text110">
        to serve my nation and world;
      </span>
      <br class="about-keyclub-text111" />
      <span class="about-keyclub-text112">
        and combat all forces which tend to undermine these
        institutions."
      </span>
      <br />
    </span>
    <a
      href="https://www.cnhkeyclub.org/"
      target="_blank"
      rel="noreferrer noopener"
      class="about-keyclub-link3"
    >
      <h1 class="about-keyclub-text114 SubHeader">
        <span>Objectives of Key Club International</span>
        <br />
      </h1>
    </a>
    <span class="about-keyclub-text117 small-text">
      <span>Key Club aims to</span>
      <span class="about-keyclub-text119">cooperate</span>
      <span>with school principals and teachers to provide</span>
      <span class="about-keyclub-text121">high school</span>
      <span>students with invaluable experience in living and</span>
      <span class="about-keyclub-text123">working together</span>
      <span>
        and to prepare them for useful citizenship. Our members develop
      </span>
      <span class="about-keyclub-text125">initiative</span>
      <span>and</span>
      <span class="about-keyclub-text127">leadership</span>
      <span>skills by serving their schools and communities.</span>
      <br />
      <br />
      <span>In doing so, we hope to</span>
      <span class="about-keyclub-text132">promote</span>
      <span>and accept the following</span>
      <span class="about-keyclub-text134">ideals</span>
      <span>:</span>
      <br />
    </span>
    <ul class="about-keyclub-ul list">
      <li class="about-keyclub-li list-item">
        <span class="about-keyclub-text137 small-text">
          <span>
            To give primacy to the human and spiritual, rather than to
            the material values of life.
          </span>
          <br />
        </span>
      </li>
      <li class="about-keyclub-li1 list-item">
        <span class="about-keyclub-text140 small-text">
          <span>
            To encourage the daily living of the Golden Rule in all
            human relationships.
          </span>
          <br />
        </span>
      </li>
      <li class="about-keyclub-li2 list-item">
        <span class="about-keyclub-text143 small-text">
          <span>
            To promote the adoption and application of higher standards
            in scholarship, sportsmanship and social contacts.
          </span>
          <br />
        </span>
      </li>
      <li class="about-keyclub-li3 list-item">
        <span class="about-keyclub-text146 small-text">
          To develop, by precept and example, a more intelligent,
          aggressive and serviceable citizenship.
        </span>
      </li>
      <li class="about-keyclub-li4 list-item">
        <span class="about-keyclub-text147 small-text">
          To provide a practical means to form enduring friendships, to
          render unselfish service and to build better communities.
        </span>
      </li>
      <li class="about-keyclub-li5 list-item">
        <span class="about-keyclub-text148 small-text">
          To cooperate in creating and maintaining that sound public
          opinion and high idealism which makes possible the increase of
          righteousness, justice, patriotism and good will.
        </span>
      </li>
    </ul>
  </div>
</div>
{% endblock %}