{% extends "base.html" %}
{% block title %}About Division - Division 30 South{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename="css/about-division.css")}}"/>
{% endblock %}

{% block content %}
<div class="about-division-hero">
  <h1 class="about-division-heading">About d30 south</h1>
</div>
<div
  data-thq="thq-dropdown"
  class="about-division-thq-dropdown list-item"
>
  <ul data-thq="thq-dropdown-list" class="about-division-dropdown-list">
    <li
      data-thq="thq-dropdown"
      class="about-division-dropdown list-item"
    >
      <div
        data-thq="thq-dropdown-toggle"
        class="about-division-dropdown-toggle"
      >
        <span class="about-division-text">Sub-menu Item</span>
      </div>
    </li>
    <li
      data-thq="thq-dropdown"
      class="about-division-dropdown1 list-item"
    >
      <div
        data-thq="thq-dropdown-toggle"
        class="about-division-dropdown-toggle1"
      >
        <span class="about-division-text01">Sub-menu Item</span>
      </div>
    </li>
    <li
      data-thq="thq-dropdown"
      class="about-division-dropdown2 list-item"
    >
      <div
        data-thq="thq-dropdown-toggle"
        class="about-division-dropdown-toggle2"
      >
        <span class="about-division-text02">Sub-menu Item</span>
      </div>
    </li>
  </ul>
</div>
<div class="about-division-intro Row">
  <div class="about-division-story">
    <div class="about-division-establishment">
      <img
        alt="image"
        src="https://d1fdloi71mui9q.cloudfront.net/jw84NnpnTGahWI3VoxIQ_CS1PKLayhT5ypHb8"
        class="about-division-image"
      />
      <div class="about-division-container1">
        <h1 class="about-division-text03 SubHeader">
          Our Establishment
        </h1>
        <span class="small-text">
          <span>Division 30 South was formed in the year</span>
          <span class="about-division-text06">1996</span>
          <span>
            when Angela Oh from Loara High School became our first
          </span>
          <span class="about-division-text08">Lt. Governor</span>
          <span>
            after the Division 30 split into North and South. Since the
            very beginning, our divisional mascot has always been the
          </span>
          <span class="about-division-text10">SUN</span>
          <span>
            where we shine while serving our communities. It has been 15
            years since we became a division and we have continued to
          </span>
          <span class="about-division-text12">
            shine, grow, and learn
          </span>
          <span>, as we keep the power of the SUN alive.</span>
          <br />
          <br />
          <span class="about-division-text16">
            "A journey of a thousand miles begins with a single step."
          </span>
          <br class="about-division-text17" />
          <span class="about-division-text18">- Chinese Proverbs</span>
          <br />
        </span>
      </div>
    </div>
    <div class="about-division-establishment1">
      <div class="about-division-container2">
        <h1 class="about-division-text20 SubHeader">Our Members</h1>
        <span class="about-division-text21 small-text">
          <span>
            We are proud and honored to have the 14 schools that make up
          </span>
          <span class="about-division-text23">Division 30 South</span>
          <span>
            : Anaheim, Cypress, Fairmont, Katella, Kennedy, Loara, Los
            Alamitos, Magnolia, Oxford, Rosary, Savanna, Servite,
            Western, and Whitney. Majority of our schools are
            centralized within the city of Anaheim, but we also have
            clubs within neighboring cities like Cypress, La Palma,
            Cerritos, and Los Alamitos. It is wonderful that our schools
            are located close together within a community filled with
            service events!&nbsp;Our division is also
          </span>
          <span class="about-division-text25">sponsored</span>
          <span>by only</span>
          <span class="about-division-text27">3 Kiwanis clubs</span>
          <span>
            : Cypress, La Palma, and Greater Anaheim. This creates a
            familiar environment for Kiwanians and Key Club officers to
            communicate effectively in order to help this division
            thrive.
          </span>
          <br />
        </span>
      </div>
      <img
        alt="image"
        src="https://westernhskeyclub.weebly.com/uploads/8/1/7/4/81748258/5_orig.jpeg"
        class="about-division-image1"
      />
    </div>
    <div class="about-division-establishment2">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvcmtpbmclMjBkZXNrfGVufDB8fHx8MTYyNjI1MDYwMg&amp;ixlib=rb-1.2.1&amp;w=1500"
        class="about-division-image2"
      />
      <div class="about-division-container3">
        <h1 class="about-division-text30 SubHeader">Our Mission</h1>
        <span class="about-division-text31 small-text">
          <span class="about-division-text32">Key Club is an</span>
          <span class="about-division-text33">international</span>
          <span class="about-division-text34">
            , student-led organization providing its members with
            opportunities to perform
          </span>
          <span class="about-division-text35">service</span>
          <span class="about-division-text36">
            , build character, and develop
          </span>
          <span class="about-division-text37">leadership</span>
          <span class="about-division-text38">
            . We, Division 30 South, are one of the hundreds of
            divisions in the world overseeing Keyclub operations across
            dozens of schools. We
          </span>
          <span class="about-division-text39">volunteer</span>
          <span class="about-division-text40">
            , hold fundraisers, and foster in members an eager
            enthusiasm for making the world a better place.
          </span>
          <br class="about-division-text41" />
          <br class="about-division-text42" />
          <span class="about-division-text43">
            "Caring - our way of life"&nbsp;
          </span>
          <br class="about-division-text44" />
          <span class="about-division-text45">
            - Division 30 South Motto
          </span>
          <br />
        </span>
        <a href="events.html" class="about-division-button button">
          <span class="about-division-text47">
            <span>See Upcoming Events</span>
            <br />
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="about-division-stats-container Row">
  <div class="about-division-container4">
    <h1 class="about-division-heading1 header">Our goals</h1>
  </div>
  <span class="about-division-text50 small-text">
    <span class="about-division-text51">"</span>
    <span class="about-division-text52">
      Setting goals is the first step in turning the invisible into the
      visible."
    </span>
    <br class="about-division-text53" />
    <span class="about-division-text54"></span>
  </span>
  <div class="about-division-stats-container1">
    <div class="stats-card-container stats-card-root-class-name6">
      <div class="stats-card-stat">
        <h1 class="stats-card-text"><span>2000+</span></h1>
        <span class="stats-card-text1"><span>Hours</span></span>
        <span class="stats-card-text2">
          <span>Completed by passionate Division 30 members</span>
        </span>
      </div>
    </div>
    <div class="stats-card-container stats-card-root-class-name7">
      <div class="stats-card-stat">
        <h1 class="stats-card-text"><span>1100+</span></h1>
        <span class="stats-card-text1"><span>Members</span></span>
        <span class="stats-card-text2">
          <span>
            Hundreds of passionate KeyClubbers ready to serve a greater
            cause
          </span>
        </span>
      </div>
    </div>
    <div class="stats-card-container stats-card-root-class-name8">
      <div class="stats-card-stat">
        <h1 class="stats-card-text"><span>$500+</span></h1>
        <span class="stats-card-text1"><span>Fundraised</span></span>
        <span class="stats-card-text2">
          <span>Being actively donated to Kiwanis Charities</span>
        </span>
      </div>
    </div>
  </div>
  <!--
  <div class="about-division-hours">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
      class="about-division-stats-chart"
    />
  </div>
  -->
</div>
{% endblock %}