{% extends "base.html" %}
{% block title %}About Leadership - Division 30 South{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename="css/about-leadership.css")}}"/>
{% endblock %}

{% block content %}
<div class="about-leadership-dlt Row">
  <div class="about-leadership-container1">
    <h1 class="about-leadership-text header">
      <span>Who leads</span>
      <span class="about-leadership-text02">Division 30</span>
      <span>South?</span>
      <br />
    </h1>
    <div class="about-leadership-container2">
      <span class="small-text about-leadership-text05">
        <span>
          The Division Leadership Team (DLT) orchestrates efforts
          amongst the
        </span>
        <span class="about-leadership-text07">
          13 schools in D30 South
        </span>
        <span>
          . Led and appointed by the lieutenant governor, Austin Alves,
          the
        </span>
        <span class="about-leadership-text09">2023-2024 DLT</span>
        <span>
          is bound to bring Division 30 South to new heights in caring
          for the world. On this page you will be introduced to
        </span>
        <span class="about-leadership-text11">all 20 members</span>
        <span>
          of the division leadership team, including the 13 presidents
          that help lead each club within the division!
        </span>
        <br />
        <br />
        <span class="about-leadership-text15">
          "A leader is one who knows the way, goes the way, and shows
          the way"
        </span>
        <br class="about-leadership-text16" />
        <span class="about-leadership-text17">- John Maxwell</span>
        <br />
      </span>
    </div>
  </div>
  <div class="about-leadership-gallery">
    {% for member in cabinet %}
    <div
      class="cabinet-display-person"
    >
      <div class="cabinet-display-blog-post-card">
        <div class="cabinet-display-container"
        style = "background-image: url({{member.Image}});">
          <div class="cabinet-display-container1">
            <span class="cabinet-display-text">
              <span>{{member.Position}}</span>
            </span>
            <h1 class="cabinet-display-text1 SubHeader">
              <span>{{member.Name}}</span>
            </h1>
            <span class="cabinet-display-text2 small-text">
              <span>
                {{member.Message}}
              </span>
            </span>
            <span class="cabinet-display-text3">
              <span>{{member.Email}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}