{% extends "base.html" %}
{% block title %}Events Past - Division 30 South{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename="css/past-events.css")}}"/>
{% endblock %}


{% block content %}
<div class="past-events-gallery">
  <div class="past-events-container1">
    <div class="past-events-container2">
      <div
        class="bee-memories-gallery-card bee-memories-root-class-name7"
      >
        <div class="bee-memories-container">
          <div class="bee-memories-container1">
            <h2 class="bee-memories-text">
              <span>{{images[0].event}}</span>
            </h2>
            <a href="{{images[0].album_link}}" class="bee-memories-text2">SHOW MORE</a>
          </div>
        </div>
        <img
          src="{{images[0].link}}"
          alt="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxmb29kfGVufDB8fHx8MTYyNjQ0OTIzNQ&amp;ixlib=rb-1.2.1&amp;h=1000"
          class="bee-memories-image"
        />
      </div>
      <div
        class="bee-memories-gallery-card bee-memories-root-class-name8"
      >
        <div class="bee-memories-container">
          <div class="bee-memories-container1">
            <h2 class="bee-memories-text">
              <span>{{images[1].event}}</span>
            </h2>

            <a href="{{images[1].album_link}}" class="bee-memories-text2">SHOW MORE</a>
          </div>
        </div>
        <img
        src="{{images[1].link}}"
        alt="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxmb29kfGVufDB8fHx8MTYyNjQ0OTIzNQ&amp;ixlib=rb-1.2.1&amp;h=1000"
        class="bee-memories-image"
        />
      </div>
    </div>
    <div
      class="bee-memories-gallery-card bee-memories-root-class-name6"
    >
      <div class="bee-memories-container">
        <div class="bee-memories-container1">
          <h2 class="bee-memories-text"><span>{{images[2].event}}</span></h2>

          <a href="{{images[2].album_link}}" class="bee-memories-text2">SHOW MORE</a>
        </div>
      </div>
      <img
      src="{{images[2].link}}"
      alt="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxmb29kfGVufDB8fHx8MTYyNjQ0OTIzNQ&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="bee-memories-image"
      />
    </div>
  </div>
  <div class="bee-memories-gallery-card bee-memories-root-class-name1">
    <div class="bee-memories-container">
      <div class="bee-memories-container1">
        <h2 class="bee-memories-text"><span>{{images[3].event}}</span></h2>

        <a href={{images[3].album_link}} class="bee-memories-text2">SHOW MORE</a>
      </div>
    </div>
    <img
      src="{{images[3].link}}"
      alt="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxmb29kfGVufDB8fHx8MTYyNjQ0OTIzNQ&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="bee-memories-image"
    />
  </div>
</div>
<div class="past-events-events-container Row">
  <h1 class="past-events-text header">
    <span>Past Events</span>
    <br />
  </h1>
  <div class="past-events-container3">
    <div class="past-events-events">
        {% for image in images[::-1] %}
        <div
          class="event-card-blog-post-card"
        >
          <div class="event-card-container">
            <img
              alt="https://images.unsplash.com/photo-1465925508512-1e7052bb62e6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHxjaXR5JTIwY2FifGVufDB8fHx8MTYyNjQ1MDMwNA&amp;ixlib=rb-1.2.1&amp;h=1200"
              src="{{image.link}}"
              class="event-card-image"
              loading = "lazy"
            />
            <div class="event-card-container1">
              <h1 class="event-card-text header">
                <span>{{image.event}}</span>
              </h1>
              <div class="event-card-container2">
                <span class="event-card-text3"><span>{{image.date}}</span></span>
                <button onclick="location.href = '{{image.album_link}}';" class="event-card-button button">
                  <span class="event-card-text4"><span>PHOTOS</span></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
  <!--
  <div class="past-events-gallery1">
    <div class="opener-container Row opener-root-class-name20">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>January</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text">
        <span>insert past events here</span>
      </span>
    </div>
    <div class="opener-container Row">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>February</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>March</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name21">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>April</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name22">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>May</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name23">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>June</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name24">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>July</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name25">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>August</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name29">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>September</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name28">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>October</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name27">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>November</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    <div class="opener-container Row opener-root-class-name26">
      <div class="opener-container1">
        <h1 class="opener-text SubHeader"><span>December</span></h1>
        <img
          alt="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          src="https://enterprisefilmsllc.com/wp-content/uploads/2018/07/white-down-arrow-png-2.png"
          class="opener-image"
        />
      </div>
      <span class="opener-text1 small-text"><span>Text</span></span>
    </div>
    -->
  </div>
</div>
{% endblock %}