{% extends "base.html" %}
{% block title %}Links - Division 30 South{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename="css/resources-misc.css")}}"/>
{% endblock %}

{% block content %}
<div class="resources-misc-events-container Row">
  <h1 class="resources-misc-text header">
    <span>Miscellaneous</span>
    <br />
  </h1>
  {% for item in misc %}
  <div class="resources-misc-container1 Row">
    <h1 class="resources-misc-text03 header">{{item["Header"]}}</h1>
    <ul class="resources-misc-ul list">
      {% for link in item["Links"] %}
      <li class="resources-misc-li list-item">
        <span class="resources-misc-text04 small-text">
          <a href="{{link['url']}}">{{link["text"]}}</a>
          <br />
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}