<div>
  <link href="./event-card.css" rel="stylesheet" />
  <div class="event-card-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1547841243-eacb14453cd9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxjaXR5fGVufDB8fHx8MTYyNjE4NjYxMg&ixlib=rb-1.2.1&w=1000"
      class="event-card-image"
    />
    <div class="event-card-container">
      <div class="event-card-container1">
        <span class="event-card-text small-text">When</span>
        <span class="event-card-text1"><span>{Insert times here}</span></span>
      </div>
      <div class="event-card-container2">
        <span class="event-card-text2 small-text">What</span>
        <span class="event-card-text3"><span>{Insert what here}</span></span>
      </div>
      <div class="event-card-container3">
        <span class="event-card-text4 small-text">Why</span>
        <span class="event-card-text5"><span>{Insert why here}</span></span>
      </div>
      <div class="event-card-container4">
        <span class="event-card-text6"><span>In {int} days</span></span>
      </div>
    </div>
  </div>
</div>
