<div>
  <link href="./header.css" rel="stylesheet" />
  <header data-role="Header" class="header-header background-item">
    <img
      alt="image"
      src="public/playground_assets/d30suns%20logo-200h.jpeg"
      loading="lazy"
      class="header-image"
    />
    <div class="header-container">
      <div class="header-nav">
        <span class="header-link header"><span>About</span></span>
        <span class="header-link header"><span>Events</span></span>
        <span class="header-link header"><span>LOgin</span></span>
        <span class="header-link header">
          <span>signup</span>
          <br />
        </span>
        <span class="header-link header"><span>profile</span></span>
      </div>
    </div>
    <div data-role="BurgerMenu" class="header-burger-menu">
      <svg viewBox="0 0 1024 1024" class="header-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
  </header>
</div>
