.header-header {
  position: relative;
  max-width: 100%;
}
.header-image {
  width: 100px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: Round;
}
.header-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-nav {
  display: flex;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

@media(max-width: 1200px) {
  .header-burger-menu {
    align-items: flex-start;
  }
}
@media(max-width: 991px) {
  .header-nav {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .header-nav {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
