<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <div class="navigation-links-nav1">
      <span class="header-link header"><span>About</span></span>
      <span class="header-link header"><span>Events</span></span>
      <span class="header-link header"><span>LOgin</span></span>
      <span class="header-link header">
        <span>signup</span>
        <br />
      </span>
      <span class="header-link header"><span>profile</span></span>
    </div>
  </nav>
</div>
