.cabinet-display-person {
  width: auto;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
}
.cabinet-display-blog-post-card {
  width: 100%;
  height: 100%;
  margin: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  min-height: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.cabinet-display-blog-post-card:hover {
  transform: scale(1.02);
}
.cabinet-display-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  justify-content: center;
  background-position: center;
}
.cabinet-display-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
}
.cabinet-display-container1:hover {
  opacity: 1;
}
.cabinet-display-text {
  color: #fed256;
  font-size: 1.25rem;
  text-align: center;
}
.cabinet-display-text1 {
  color: #ffffff;
}
.cabinet-display-text2 {
  color: #ffffff;
  font-size: 20px;
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.cabinet-display-text3 {
  color: #fed256;
  font-size: 1.25rem;
  text-align: center;
}

@media(max-width: 767px) {
  .cabinet-display-text2 {
    font-size: 16px;
  }
}
@media(max-width: 479px) {
  .cabinet-display-person {
    min-width: 0px;
  }
  .cabinet-display-blog-post-card {
    min-width: 0px;
  }
  .cabinet-display-text2 {
    font-size: 16px;
    margin-top: 0it;
    margin-bottom: 0px;
  }
}

.about-leadership-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-leadership-dlt {
  gap: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 0.00%,rgb(252, 249, 226) 99.00%);
}
.about-leadership-container1 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.about-leadership-text {
  font-size: 4em;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-leadership-text02 {
  font-style: normal;
  font-weight: 900;
}
.about-leadership-container2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.about-leadership-text07 {
  font-style: normal;
  font-weight: 700;
}
.about-leadership-text09 {
  font-style: normal;
  font-weight: 700;
}
.about-leadership-text11 {
  font-style: normal;
  font-weight: 700;
}
.about-leadership-text15 {
  font-weight: 800;
}
.about-leadership-text16 {
  font-weight: 800;
}
.about-leadership-text17 {
  font-style: normal;
  font-weight: 300;
}
.about-leadership-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: 100%;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 1600px) {
  .about-leadership-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 991px) {
  .about-leadership-text {
    font-size: 3em;
    text-align: left;
  }
  .about-leadership-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .about-leadership-dlt {
    padding: var(--dl-space-space-twounits);
    align-self: center;
  }
  .about-leadership-container1 {
    padding: var(--dl-space-space-unit);
  }
  .about-leadership-text {
    font-size: 2.5em;
  }
  .about-leadership-text05 {
    font-size: 16px;
  }
  .about-leadership-gallery {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .about-leadership-dlt {
    padding: var(--dl-space-space-unit);
  }
  .about-leadership-text {
    margin-top: 0px;
  }
  .about-leadership-text05 {
    font-size: 12px;
  }
  .about-leadership-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
