.navbar-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-header {
  gap: var(--dl-space-space-unit);
  height: 100%;
  padding: var(--dl-space-space-oneandhalfunits);
  z-index: 100;
  max-width: 100%;
  align-items: center;
  border-color: rgba(254, 210, 86, 0.61);
  border-width: 8px;
  align-content: column;
  flex-direction: column;
  background-color: rgba(250, 252, 226, 0.53);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.navbar-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 100px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-text {
  color: #FED256;
  font-size: 5rem;
  font-style: normal;
  font-family: Questrial;
  font-weight: 400;
  text-decoration: none;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.navbar-link {
  margin-left: 0px;
}
.navbar-container3 {
  top: 110%;
  flex: 0 0 auto;
  left: 4%;
  right: right;
  width: auto;
  bottom: bottom;
  height: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.navbar-text01 {
  color: rgb(242, 199, 94);
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
}
.navbar-text04 {
  color: #f2c75e;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
}
.navbar-text07 {
  color: #f2c75e;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
}
.navbar-container4 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.navbar-link1 {
  margin-left: 0px;
}
.navbar-container5 {
  top: 110%;
  flex: 0 0 auto;
  left: 4%;
  width: auto;
  height: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.navbar-text12 {
  color: #f2c75e;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
}
.navbar-text15 {
  color: #f2c75e;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
}
.navbar-container6 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.navbar-link2 {
  margin-left: 0px;
}
.navbar-container7 {
  top: 110%;
  flex: 0 0 auto;
  left: 4%;
  width: auto;
  height: auto;
  display: flex;
  padding: 0px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.navbar-text20 {
  color: #f2c75e;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
}
.navbar-text23 {
  color: #f2c75e;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 2px;
}
.navbar-text26 {
  color: #f2c75e;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 600;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container8 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image1 {
  height: 2rem;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-root-class-name {
  align-self: center;
}
















@media(max-width: 1600px) {
  .navbar-container {
    height: 100%;
  }
  .navbar-nav {
    flex-wrap: wrap;
  }
  .navbar-container2 {
    position: relative;
  }
}
@media(max-width: 991px) {
  .navbar-text {
    font-size: 4rem;
  }
}
@media(max-width: 767px) {
  .navbar-container1 {
    flex-direction: column;
  }
  .navbar-image {
    width: var(--dl-size-size-medium);
  }
  .navbar-text {
    font-size: 2rem;
  }
  .navbar-burger-menu {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-nav {
    flex-direction: column;
    justify-content: center;
  }
  .navbar-container2 {
    margin-left: 0px;
  }
  .navbar-container4 {
    margin-left: 0px;
  }
  .navbar-container6 {
    margin-left: 0px;
  }
}

.opener-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-bottom-width: 2px;
}
.opener-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.opener-text {
  color: #fed256;
}
.opener-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
}
.opener-text1 {
  font-family: Open Sans;
  margin-left: var(--dl-space-space-unit);
}








































@media(max-width: 767px) {
  .opener-container {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #fcf9e2;
}
.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 62px;
  height: 62px;
}
.footer-container1 {
  width: 60%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.footer-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text02 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-link {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration:  none;
}
.footer-link:hover {
  color: #000000;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline  none;
}
.footer-link01 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link01:hover {
  color: #000000;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline  none;
}
.footer-link02 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link02:hover {
  color: #000000;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline  none;
}
.footer-link03 {
  transition: 0.3s;
  text-decoration: none;
}
.footer-link03:hover {
  color: #000000;
  text-align: center;
  text-decoration: underline  none;
}
.footer-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text03 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-link04 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link04:hover {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-link05 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link05:hover {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-link06 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link06:hover {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}
.footer-link07 {
  transition: 0.3s;
  text-decoration: none;
}
.footer-link07:hover {
  text-decoration: underline none;
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text04 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text06 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link08 {
  display: contents;
}
.footer-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link09 {
  display: contents;
}
.footer-image1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link10 {
  display: contents;
}
.footer-image2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
}
.footer-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.footer-link11 {
  align-self: center;
}
.footer-text07 {
  text-decoration: none;
}
.footer-root-class-name {
  max-width: 100%;
  align-self: center;
}
.footer-root-class-name1 {
  width: 100%;
}










@media(max-width: 991px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
  }
  .footer-logo {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-container {
    gap: 0;
  }
  .footer-text {
    font-size: 1em;
  }
  .footer-container1 {
    width: 75%;
  }
  .footer-product-container {
    margin-right: 0rem;
  }
  .footer-text02 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text03 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container1 {
    flex-wrap: wrap;
  }
}

.resources-newsletters-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resources-newsletters-events-container {
  gap: var(--dl-space-space-twounits);
  align-self: flex-start;
  margin-top: 0px;
  padding-left: 5%;
  margin-bottom: 0px;
  padding-right: 5%;
  flex-direction: column;
  background-color: #ffffff;
}
.resources-newsletters-text {
  color: rgb(255, 255, 255);
  width: auto;
  padding: var(--dl-space-space-unit);
  align-self: center;
  box-shadow: rgb(185, 141, 16) 10px 10px 0px 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(254, 210, 86);
}
.resources-newsletters-establishment {
  width: 100%;
  display: flex;
  max-width: 100%;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.resources-newsletters-image {
  width: 500px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.resources-newsletters-container1 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.resources-newsletters-text03 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.resources-newsletters-text05 {
  font-family: Merriweather;
}
.resources-newsletters-text06 {
  font-style: normal;
  font-family: Merriweather;
  font-weight: 700;
}
.resources-newsletters-text07 {
  font-family: Merriweather;
}
.resources-newsletters-text08 {
  font-style: normal;
  font-family: Merriweather;
  font-weight: 700;
}
.resources-newsletters-text09 {
  font-family: Merriweather;
}
.resources-newsletters-text10 {
  font-family: Merriweather;
}
.resources-newsletters-text11 {
  font-family: Merriweather;
}
.resources-newsletters-text12 {
  font-family: Merriweather;
}
.resources-newsletters-text13 {
  font-style: italic;
  font-family: Merriweather;
  font-weight: 900;
}
.resources-newsletters-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resources-newsletters-text15 {
  color: rgb(254, 210, 86);
}
.resources-newsletters-gallery {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: 100%;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 1600px) {
  .resources-newsletters-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 1200px) {
  .resources-newsletters-establishment {
    flex-direction: column;
  }
  .resources-newsletters-image {
    align-self: center;
  }
}
@media(max-width: 991px) {
  .resources-newsletters-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .resources-newsletters-image {
    width: 100%;
  }
  .resources-newsletters-container1 {
    padding: var(--dl-space-space-halfunit);
  }
  .resources-newsletters-gallery {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .resources-newsletters-text {
    width: auto;
  }
  .resources-newsletters-container1 {
    align-self: center;
  }
  .resources-newsletters-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
