

.resources-misc-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resources-misc-events-container {
  gap: 0;
  align-self: flex-start;
  margin-top: 0px;
  padding-left: 5%;
  margin-bottom: 0px;
  padding-right: 5%;
  flex-direction: column;
  background-color: #ffffff;
}
.resources-misc-text {
  color: rgb(255, 255, 255);
  width: auto;
  padding: var(--dl-space-space-unit);
  align-self: center;
  box-shadow: rgb(185, 141, 16) 10px 10px 0px 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgb(254, 210, 86);
}
.resources-misc-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  border-top-width: 2px;
  border-bottom-width: 2px;
}
.resources-misc-text03 {
  color: #fed256;
}
.resources-misc-ul {
  margin: 0px;
  align-self: flex-start;
  list-style-position: inside;
}
.resources-misc-li {
  color: #4a86e8;
  font-size: 25px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  list-style-type: disc;
  list-style-position: inside;
}
.resources-misc-text04 {
  color: rgb(74, 134, 232);
  font-size: 20px;
  transition: 0.3s;
  font-family: Merriweather;
}
.resources-misc-text04:hover {
  text-decoration: underline;
}

@media(max-width: 1600px) {
  .resources-misc-ul {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 991px) {
  .resources-misc-ul {
    list-style-type: none;
  }
}
@media(max-width: 767px) {
  .resources-misc-container1 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
 
  .resources-misc-li {
    font-size: 16px;
  }
  .resources-misc-text04 {
    font-size: 16px;
  }
}
